

@font-face {
    font-family: 'gaura_timesregular';
    src: url('http://gitabase.com/css/gt-webfont.eot');
    src: url('http://gitabase.com/css/gt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gitabase.com/css/gt-webfont.woff2') format('woff2'),
         url('http://gitabase.com/css/gt-webfont.woff') format('woff'),
         url('http://gitabase.com/css/gt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.dia_text p, P
{
    font-family: 'gaura_timesregular';
     font-size: large;
}

.dia_text2
{
    font-family: 'gaura_timesregular';
     font-size: large;
     color:red;
}

P
{
    font-family: 'gaura_timesregular';
}

.dia_text h4
{
    font-family: 'gaura_timesregular';
    font-size: x-large;
}

.tlabel
{
    color: #428bca;

}

blockquote {
    font-family: 'gaura_timesregular';
    max-width:390px;

    text-align: center; 
    border-left: 3px solid #428bca; 
    padding-left: 5px;
    margin:0 auto;
    font-size: large;

    width:auto;
    display:table
    
}

a{
    color:orange;
}